* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	height: 100%;
	font-size: 15px;
}
h1{
	font-family: 'Orbitron', sans-serif;
	font-size: 30px;
	margin:0;
}

.header{
	
}
.header > .banner{
	width:100%;
	height:100vh;
	background: url('../img/banner.jpg');
	background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100% ;
}
.header > .banner-title{
	margin:0;
	background-color: rgba(255,255,255,0.8);
	position: absolute;
	top:30%;
	text-align: center;
	width: 25%;
	left: 37.5%;
	font-family: 'Orbitron', sans-serif;
	padding:15px;
}
.header > .banner-arrow{	
	position: absolute;
	width: 5%;
	left: 47.5%;
	border-radius: 50px;
	cursor: pointer;
	animation: flechaAnimation 5s forwards;
}
.header > .banner-arrow > a >img{
	width: 100%;
	height: 100%;	
}

@keyframes flechaAnimation {
	0% {
		top: 0%;
		background-color: rgba(255,255,255,0);
	}
	100% {
		top: 60%;
		background-color: rgba(255,255,255,0.8);		
	}
}
.special{
	cursor: pointer;
}
.navbar{
	width: 100%;
	background-color: #000;
	position: absolute;
	top: 0;
	position: fixed;
	font-size: 0;
}
.navbar .navbar-list{
	list-style-type: none;
	float: right;
	margin:0;
}
.navbar .navbar-list .navbar-item{	
	display: inline-block;	
	font-size: 16px;
}
.navbar  > .navbar-list  > .navbar-item.active  > .navbar-link{
	color:#000;
	background-color: #FFF;
}
.navbar .navbar-list .navbar-item .navbar-link{
	display: inline-block;
	padding:20px;
	text-decoration: none;
	color:#FFF;
	font-family: 'Orbitron', sans-serif;
}
.navbar .navbar-list .navbar-item .navbar-link:hover{
	color:#000;
	background-color: #FFF;
	transition: all 1s;
}
.quien-retrato{
	width: 100%;
	border-radius: 50%;
}

.content{
	padding: 80px 0;
}
.content-reverse{
	background-color: #000;
	margin-left: calc(-50vw + 50%);
	margin-right: calc(-50vw + 51%);
	color: #FFF;
}

#estudios,#sobre{
	text-align: center;
}
#sobre h1{
	margin-bottom: 20px;
}
.video{
	background-color: rgb(255, 255, 255);
    border-radius: 25px;
    margin: auto;
    padding: 20px;
    width: 440px;
}
.footer{
	padding:10px;
}
.img-git{
	width:20px;
	height:20px;
	float: right;
}

input[type=text],input[type=mail],input[type=submit],textarea{
	background-color: #000;
    border: medium none;
    color: #fff;
    padding: 15px;
    width: 100%;
}
input[type=submit]:hover{
	background-color: #FFF;
    color: #000;
    border:1px solid #000;
}
input[type=radio]{
	display: none;
}
.formulario div{
	margin-top:20px;
}
label {
    background-color: #000;
    color: #fff;
    line-height: 30px;
    padding: 10px;
}
.radios{
	border: 1px solid #000;
	background-color: #000;
	color:#FFF;
	text-align: center;
	padding: 15px;
}
.radios:hover{
	border: 1px solid #000;
	background-color: #FFF;
	color:#000;
}
.radiosel{
	color:#000!important;
	background-color: #FFF!important;
	border: 1px solid #000!important;
	text-align: center!important;
	padding: 15px!important;
}
/*Pongo los placeholders en blanco*/
::-webkit-input-placeholder { color: #FFF; } /* WebKit */
:-moz-placeholder { color: #FFF; } /* Firefox 18- */
::-moz-placeholder { color: #FFF; } /* Firefox 19+ */
:-ms-input-placeholder { color: #FFF; } /* IE 10+ */

.clearfix:after {
	content: " "; /* Older browser do not support empty content */
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
.loader {
	border: 10px solid #f3f3f3;
	border-top: 10px solid #3498db;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	animation: spin 2s linear infinite;
	margin: 100px auto;
}
.loader2 {
	border: 10px solid #f3f3f3;
	border-top: 10px solid #3498db;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	animation: spin 2s linear infinite;
	margin: 100px auto;
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}